.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;  
}

.link {
  text-decoration: none;
}

.App-link {
  color: #09d3ac;
}

.main {
  width: 30%;
    margin: 50px auto;
    height: 100px;
}

.friend{
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 10px auto;
  border: 1px solid blue;
  background-color: aquamarine;
  color: Red;
}